{% extends "ProyectoWebApp/base.html" %}

{% load static %}


{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix" style="z-index: 0;">
    <div class="container" style="background-color: rgba(15, 125, 228, 0.746);">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoWebApp/img/principaluno.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Mas de 60 años de trayectoria</span>
            
            <span class="section-heading-lower">Quienes somos</span>
          </h2>
          <font color= white size="4" face="Helvetica">
          <p class="mb-3" style="line-height: 1.5;">
            En fabrica de HELADOS PEÑAS, estamos especializados en la elaboración de helados y postres, así como en su distribución por mayor y menor. Mas de 60 años de experiencia nos abalan, no escatinamos esfuerzos para darle productos y servicios que cumplan con sus expectativas.
            Las técnicas que empleamos para la producción de nuestros helados y postres son totalmente artesanales, lo que nos permite garantizar su sabor tradicional. Asimismo contamos con instalaciones muy bien adecuadas para la correcta conservación de estos.
          </p>
          </font>
         
        </div>
      </div>
    </div>
  </section>

  
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container" >
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <section class="page-section clearfix">
                  <div class="borde">
                  <div class="container">
                    <div class="intro">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/media/servicios/helado1.jpg" alt="" style="width: 25%;">
                      
                      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4" >
                          <span class="section-heading-upper">Nuestras redes</span>
                          
                          
                        </h2>
                        <a href="#" class="link">
                          <img src="/media/servicios/twitter.png" alt="">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                        <a href="https://www.facebook.com/heladospenias" class="link">
                          <img src="/media/servicios/facebook.png" alt="">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                          
                        <a href="https://www.instagram.com/heladospenias/" class="link">
                          <img src="/media/servicios/instagram.png" alt="">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                          </span>
                        </a>
                        </p>
                      </div>
                      </div>
                    </div>
                  </div>
                </section>
                
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Nuestros productos -->
<section class="page-section cta">
  <div class="container" id="productos">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded" id="ancla1">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Nuestros productos</span>
          </h2>
          <div class="container clear-bottommargin clearfix" >
            <div class="row topmargin-sm clearfix">
              <div class="col-12">
                <div class="heading-block nobottomborder center mb-3">
                </div>
              </div>
              <div class="col-lg-4 bottommargin center">
                <div class="heading-block nobottomborder mb-3">
                  <h4 class="brown-2 text-uppercase open-sans" style="text-align: center;">Helados</h4>
                </div>
                <div class="pt-3" style="width: 100%; height: 400px; border: 2px solid rgba(228, 214, 15, 0.883); overflow-y: scroll;" >
                  <h5 style="font-weight: 800" class="open-sans"  >
      
                    <div style="padding-left: 7;" style="scrollbar-color: red;">
                    Manzana verde  <br>
                    Frutilla al agua <br>
                    Pomelo rosado  <br>
                    Chocolate europeo  <br>
                    Dulce de leche Split  <br>
                    Merequetengue  <br>
                    Chocolate  <br>
                    Dulce de leche <br> 
                    Dulce de leche granizado  <br>
                    Banana Split  <br>
                    Recoco  <br>
                    Cereza  <br>
                    Flan Split  <br>
                    Americana  <br>
                    Chantilly con frutilla  <br>
                    Frutilla especial  <br>
                    Menta granizada  <br>
                    Limón  <br>
                    Limón primavera  <br>
                    Rocklets  <br>
                    Granizado  <br>
                    Vainilla especial <br>  
                    Crema del cielo  <br>
                    Marrakesh  <br>
                    Tramontana  <br>
                    Vainilla borracha <br>  
                    Dulce de leche del campo <br>  
                    Crema oreo  <br>
                    Chocotorta  <br>
                    Bailey  <br>
                    Limoneto con bizcocho  <br>
                    Chocolate blanco  <br>
                    Sambayón  <br>
                    Mousse bombón <br> 
                    Chocolate con almendras  <br>
                    Crema rusa  <br>
                    Avellana  <br>
                    Tiramisú  <br>
                    Mascarpone con frutos del bosque  <br>
                    Chocolate africano  <br>
                    Chocolate blanco con maracuyá  <br>
                    Chocolate con nuez  <br>
                    Dulce de leche block  <br>
                    Dulce de leche peñas  <br>
                    Chocolate cabsha  <br>
                    Chocolate nevado  <br>
                    Chocolate borracho  <br>
                    Naranja  <br>
                    Kinoto  	<br>
                    Ananá  <br>
                    Higos al rhum <br>  
                    Durazno  <br>
                    Frutilla crocante <br>  
                    Dulce de leche con nuez <br>  
                    Dulce de leche cabsha  <br>
                    Lemon pie  <br>
                    Kindovo  <br>
                    Crema de almendra <br>  
                    Quindim <br>
                  </div>
                  </div>
              </div>
      
              <div class="col-lg-4 bottommargin center">
                <div class="heading-block nobottomborder mb-3">
                  <h4 class="brown-2 text-uppercase open-sans" style="text-align: center;">Tortas heladas</h4>
                </div>
                <div class="pt-3" style="width: 100%; height: 400px; border: 2px solid rgba(228, 214, 15, 0.883); overflow-y: scroll;">
                  <h5 style="font-weight: 800; padding-bottom: 10px;" class="open-sans" >
                    <div style="padding-left: 7;" >
                    Torta helada selva negra <br>
                    Torta helada de almendras <br>
                    Torta helada nogal <br>
                    Torta helada Suiza <br>
                    Torta helada de frutilla <br>
                    Torta helada Imperial <br>
                    Torta helada lemon pie <br>
                    Torta helada tiramisu <br>
                    Torta helada marroc <br>
                    Torta helada chotororta <br>
                  </dib>
                    </h5>
                </div>
              </div>
      
              <div class="col-lg-4 bottommargin center">
                <div class="heading-block nobottomborder mb-3">
                  <h4 class="brown-2 text-uppercase open-sans" style="text-align: center;">Postres</h4>
                </div>
                <div class="pt-3" style="width: 100%; height: 400px; border: 2px solid rgba(228, 214, 15, 0.883); overflow-y: scroll;" >
                  <h5 style="font-weight: 800" class="open-sans" style="padding-left: 5;" >
                    <div style="padding-left: 7;">
                      Cassata <br>
                      Alemdrado <br>
                      Suizo <br>
                      Bombon Escoces <br>
                      Alfajor helado <br>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- Ubicacion -->
  <section class="page-section cta" id="ubicacion">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded" id="ancla1">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper" >Nuestras sucursales </span>
              <span class="section-heading-lower">Donde estamos</span>
            </h2>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1E3zIz2S74cliLbUJAZpvQ71_V3r3_1DS" width="580" height="480" ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Contacto -->
    <section class="page-section cta" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded" id="ancla1">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper" >Envianos un email</span>
                <span class="section-heading-lower">Contacto</span>
              </h2>
              <form action="contact.php" method="post">
                <p style="text-align: center;"><label for="nombre">Nombre:</label></p>
                 <p style="text-align: center;"><input id="nombre" type="text" name="nombre" placeholder="Nombre y Apellido" required="" /></p>
                 <p>  </p> 
                 <p style="text-align: center;"><label for="email">Email:</label></p>
                 <p style="text-align: center;"><input id="email" type="email" name="email" placeholder="ejemplo@correo.com" required="" />  </p>
                 <p>  </p>      
                 <p style="text-align: center;"><label for="mensaje">Mensaje:</label></p>
                 <p>  </p> 
                 <p style="text-align: center;" style="size: 150%;"><textarea id="mensaje" name="mensaje" placeholder="Mensaje" required=""></textarea></p>
                 <p style="text-align: center;"><input id="submit" type="submit" name="submit" value="Enviar" /></p>
                </form>
            </div>
          </div>
        </div>
      </div>
    </section>



    


{% endblock %}
