<html>
  
<head>

    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'ProyectoWebApp/img/logo.png' %}">
    <!-- Bootstrap -->
    <link href="{% static 'ProyectoWebApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'ProyectoWebApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    
      
      
      </h1>


 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" style="z-index: 0;">
    <div class="container">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="size: 150%;" >
        <span class="navbar-toggler-icon" style="size: 150;"></span>
      </button>
      
      <!-- <img src= "{% static 'ProyectoWebApp/img/logo.png' %}" alt="" style="width: 15%;" style="padding: 5;"   > -->
      <div class="collapse navbar-collapse" id="navbarResponsive" style="size: 150%;">
        <a href="{% url 'Home' %}" class="link">
          <img src="{% static 'ProyectoWebApp/img/logo.png' %}" alt="" style="width: 75%;" style="padding: 5;">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <ul class="navbar-nav mx-auto">
          
          <li class="nav-item {% if request.path == '/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
          </li>
          
          <li class="nav-item {% if request.path == '/tienda/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="#productos">Nuestros Productos</a>
          </li>
          <li class="nav-item {% if request.path == '/contacto/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="#contacto">Contacto</a>
          </li>
          <li class="nav-item {% if request.path == '/blog/' %} active {% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="#ubicacion">Donde estamos</a>
          </li>
         
        </ul>
      </div>
    </div>
    
    
  </nav>


    <!-- Contenido Cambiante-->
    {% block content %}


    {% endblock %}


    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
            <img src="/media/servicios/twitter.png" alt="">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="https://www.facebook.com/heladospenias" class="link">
            <img src="/media/servicios/facebook.png" alt="">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
            
	        <a href="https://www.instagram.com/heladospenias/" class="link">
            <img src="/media/servicios/instagram.png" alt="">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1" style="color: white;">&copy; Pagina en desarrollo por Fernando Paez</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'ProyectoWebApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'ProyectoWebApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>
